{% extends 'base.html.twig' %} {% block body %}
<h1>{{ title }}</h1>

<div class="card w-75 border-primary mb-3" style="max-width: 60rem">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore,
      alias. Odit nemo repellendus aliquid quae distinctio doloremque cupiditate
      totam ipsum asperiores commodi architecto dolores soluta vero iusto minus
      quaerat omnis, modi perspiciatis deleniti atque, placeat dolore maxime
      voluptates? Omnis, tempora.
    </p>
    <p>
      Ipsam soluta quidem cum illum nostrum! Accusamus dolorum optio voluptatem
      eaque vel quibusdam maiores mollitia error, odit ab debitis, velit odio,
      tenetur quidem! Earum nulla ab voluptatum, eius quaerat, beatae dolorum
      excepturi est perspiciatis aut odit, asperiores pariatur! Sunt, et.
    </p>
  </div>
</div>

{% endblock %}
