{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

        
        {% for article in articles %}
    <section class="articles">  
        <div class="card border-primary mb-3 " style="max-width: 50rem;">
        <div class="card-header">Article</div>
        <div class="card-body">
       <article>
           <h2>{{ article.title }}</h2>
           <div class="metadata">Ecrit le {{ article.createAt | date ('d/m/Y') }} à {{ article.createAt | date('H:i') }} dans la catégorie Politique</div>
           <div class="content">

               <img src="{{ article.image }}" class="img-fluid img-thumbnail" alt="photo de l'article">
               {{ article.content | raw }}
               <plorem15></plorem15>
               <plorem15></plorem15>
               <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
           </div>
        </div>
       </article>
    </section>
        {% endfor %}
        

{% endblock %}
