{% extends 'base.html.twig' %} {% block body %}
<article>
  <h2>{{ article.title }}</h2>
  <div class="metadata">
    Ecrit le {{ article.createAt | date('d/m/Y') }} à
    {{ article.createAt | date('H:i') }} dans la catégorie Politique
  </div>
  <div class="content">
    <img src="{{ article.image }}" class="img-fluid" alt="une photo random" />
    {{ article.content | raw }}
  </div>
</article>
{% endblock %}
