<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />

    <title>{% block title %}Bienvenue sur mon blog! {% endblock %}</title>
    {#
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    #}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Blog Symfony</a>

        <div
          class="btn-group"
          role="group"
          aria-label="Button group with nested dropdown"
        >

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/"
                >Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog') }}">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog_create') }}"
                >Créer un article</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">{% block body %}{% endblock %}</div>
    {% block javascripts %}{% endblock %}
  </body>
</html>
